server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: config-server2
          uri: https://github.com/ingrid-inga/Microservices
          search-paths: config-data
  application:
    name: config-service